{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Boklista</h1>
        <table class="book-table">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>ISBN</th>
                    <th>Författare</th>
                    <th>Åtgärder</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>{{ book.author }}</td>
                        <td>
                            <a href="{{ path('book_show', {'id': book.id}) }}">Visa</a>
                            <a href="{{ path('book_edit', {'id': book.id}) }}">Redigera</a>
                            <form method="post" action="{{ path('book_delete', {'id': book.id}) }}" style="display:inline;">
                                <button type="submit">Radera</button>
                            </form>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
